<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Sheena Shrestha</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="Pet Pic" src="<%= @pet.image %>" class="img-circle img-responsive"> </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-pet-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td><%= @pet.name %></td>
                      </tr>
                      <tr>
                        <td>Breed:</td>
                        <td><%= @pet.dog_breed.name %></td>
                      </tr>
                      <tr>
                        <td>Gender:</td>
                        <td><%= @pet.gender %></td>
                      </tr>
                      <tr>
                        <td>State:</td>
                        <td><%= @pet.city.state.name %></td>
                      </tr>
                      <tr>
                        <td>City:</td>
                        <td><%= @pet.city.name %></td>
                      </tr>
                      <tr>
                        <td>Description:</td>
                        <td><%= @pet.description %></td>
                      </tr>
                      <tr>
                        <td>Owner's Name:</td>
                        <td><%= @pet.user.name %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:<%= @pet.user.email %>"><%= @pet.user.email %></a></td>
                      </tr>

                    </tbody>
                  </table>
                  <% if @pet.user_id == session[:user_id] %>
                    <form class="" action="index.html" method="post">
                      <a href="/pet_edit/<%= @pet.id %>" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    </form>
                    <form class="" action="/pet/<%= @pet.id %>/delete" method="post">
                      <input id="hidden" type="hidden" name="_method" value="delete">
                      <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                    </form>
                    <form class="" action="/search/result" method="get">
                      <input type="hidden" name="city" value="<%= @pet.city_id %>">
                      <input type="hidden" name="species" value="<%= @pet.species %>">
                      <input type="hidden" name="breed" value="<%= @pet.dog_breed_id %>">
                      <% if @pet.gender == 'male' %>
                        <input type="hidden" name="gender" value="female">
                      <% else %>
                        <input type="hidden" name="gender" value="male">
                      <% end %>

                      <button class="btn btn-success">Search Match</button>
                    </form>
                  <% else %>
                    <form  class="" action="/match/add" method="post">
                      <input type="hidden" name="pet_match" value="<%= @pet.id %>">
                      <button class="btn btn-success">Save</button>
                    </form>
                  <% end %>
                </div>
              </div>
            </div>
              <div class="panel-footer">


              </div>

          </div>
        </div>
