<div class="col-12 content-title">
  <h2>Edit my Pet</h2>
  <% if @error != nil %>
    <h3><%= @error %></h3>
  <% end %>
</div>
<div >
  <form class="" action="/pet/new" method="post">
    <ul>
      <li>
        <label>Name:</label>
        <input type="text" name="name" value="<%= @pet_to_edit.name %>">
      </li>
      <li>
        <label>Species:</label>
        <select class="" name="species" >
          <option selected value="dog">Dog</option>
          <option value='cat' disabled="">Cat</option>
        </select>
      </li>
      <li>
        <label>Breed:</label>
        <select class="" name="breed">
          <option value=""></option>

          <% @breeds.each do |breed| %>
            <% if breed.id == @pet_to_edit.dog_breed.id %>
              <option selected value="<%= breed.id %>"><%= breed.name %></option>
            <% else %>
              <option value="<%= breed.id %>"><%= breed.name %></option>
            <% end %>
          <% end %>
        </select>
      </li>
      <li>
        <label>Gender:</label>
        <select class="" name="gender">
          <% if @pet_to_edit == 'male' %>
            <option selected value="male">Male</option>
            <option value="female">Female</option>
          <% else %>
            <option  value="male">Male</option>
            <option selected value="female">Female</option>
          <% end %>
        </select>
      </li>
      <li>
        <label>City:</label>
        <select class="" name="city" >
          <option  class="opt-state" disabled="" value="">NEW SOUTH WALES</option>
          <% @nsw.each do |city| %>
            <% if city.id == @pet_to_edit.city.id %>
              <option selected value="<%= city.id %>"><%= city.name %></option>
            <% else %>
              <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
          <% end %>

          <option  class="opt-state" disabled="" value="">QUEENSLAND</option>
          <% @qld.each do |city| %>
            <% if city.id == @pet_to_edit.city.id %>
              <option selected value="<%= city.id %>"><%= city.name %></option>
            <% else %>
              <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
          <% end %>

          <option  class="opt-state" disabled="" value="">SOUTH AUSTRALIA</option>
          <% @sa.each do |city| %>
            <% if city.id == @pet_to_edit.city.id %>
              <option selected value="<%= city.id %>"><%= city.name %></option>
            <% else %>
              <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
          <% end %>

          <option  class="opt-state" disabled="" value="">TASMANIA</option>
          <% @tas.each do |city| %>
            <% if city.id == @pet_to_edit.city.id %>
              <option selected value="<%= city.id %>"><%= city.name %></option>
            <% else %>
              <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
          <% end %>

          <option  class="opt-state" disabled="" value="">VICTORIA</option>
          <% @vic.each do |city| %>
            <% if city.id == @pet_to_edit.city.id %>
              <option selected value="<%= city.id %>"><%= city.name %></option>
            <% else %>
              <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
          <% end %>

          <option  class="opt-state" disabled="" value="">WESTERN AUSTRALIA</option>
          <% @wa.each do |city| %>
            <% if city.id == @pet_to_edit.city.id %>
              <option selected value="<%= city.id %>"><%= city.name %></option>
            <% else %>
              <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
          <% end %>

          <option  class="opt-state" disabled="" value="">AUSTRALIA CAPITAL TERRITORY</option>
          <% @act.each do |city| %>
            <% if city.id == @pet_to_edit.city.id %>
              <option selected value="<%= city.id %>"><%= city.name %></option>
            <% else %>
              <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
          <% end %>

          <option  class="opt-state" disabled="" value="">NOTHERN TERRITORY</option>
          <% @nt.each do |city| %>
            <% if city.id == @pet_to_edit.city.id %>
              <option selected value="<%= city.id %>"><%= city.name %></option>
            <% else %>
              <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
          <% end %>
        </select>
      </li>
      <li>
        <label>Description:</label>
        <textarea name="description" rows="10" cols="30" ><%= @pet_to_edit.description %></textarea>
      </li>
      <li>
        <input type="hidden" name="user_id" value="<%= @owner %>">
      </li>
    </ul>

    <button>Update</button>
  </form>
</div>
