<h3 class="text-center"> Search result </h3>

<% if @pets.count < 1 %>
  <div class="">
    <%= "No pet found in this city" %>
  </div>
  <div class="pet-user">
    <p>
      No pets registered.
      Click <a href="/pet/new">here</a> to register
    </p>
  </div>
<% else %>
  <div class="">
    <%= "#{@pets.count} registered" %>
  </div>

    <% @pets.each do |pet| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail card">
          <img class="img-home"src="<%= pet.image %>" alt="<%= pet.name %>">
          <div class="caption pet-home">
            <h3 class="text-center"><%= pet.name %></h3>
            <ul>
              <li>Gender: <%= pet.gender %></li>
              <li>Breed: <%= pet.dog_breed.name %></li>
              <li>State: <%= pet.city.state.name %></li>
              <li>City: <%= pet.city.name %></li>
            </ul>
            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->

            <form class="" action="/pet/<%= pet.id %>" method="get">
              <button class="btn btn-info btn-block"><span class="glyphicon glyphicon-eye-open"></span> See more</button>
            </form>

            <form class="" action="/match/add" method="post">
              <input type="hidden" name="pet_match" value="<%= pet.id %>">
              <button class="btn btn-success btn-block"><span class="glyphicon glyphicon-heart"></span>Save</button>
            </form>
            <div class="clear"></div>

          </div>
        </div>
      </div>
    <% end %>
<% end %>
