<h2>Search your pet's partner</h2>
<form class="" action="/search/result" method="get">
  <ul>
    <li>
      <label>Species:</label>
      <select class="" name="species" >
        <option disabled selected value></option>
        <option value="dog">Dog</option>
        <option value='cat' disabled="">Cat</option>
      </select>
    </li>
    <li>
      <label>Breed:</label>
      <select class="" name="breed">
        <option value=""></option>
        <% @breeds.each do |breed| %>
          <option value="<%= breed.id %>"><%= breed.name %></option>
        <% end %>
      </select>
    </li>
    <li>
      <label>Gender:</label>
      <select class="" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </li>
    <li>
      <label>City:</label>
      <select class="" name="city" >
        <option  class="opt-state" disabled="" value="">NEW SOUTH WALES</option>
        <% @nsw.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>

        <option  class="opt-state" disabled="" value="">QUEENSLAND</option>
        <% @qld.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>

        <option  class="opt-state" disabled="" value="">SOUTH AUSTRALIA</option>
        <% @sa.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>

        <option  class="opt-state" disabled="" value="">TASMANIA</option>
        <% @tas.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>

        <option  class="opt-state" disabled="" value="">VICTORIA</option>
        <% @vic.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>

        <option  class="opt-state" disabled="" value="">WESTERN AUSTRALIA</option>
        <% @wa.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>

        <option  class="opt-state" disabled="" value="">AUSTRALIA CAPITAL TERRITORY</option>
        <% @act.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>

        <option  class="opt-state" disabled="" value="">NOTHERN TERRITORY</option>
        <% @nt.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>
      </select>
    </li>
  </ul>
  <button><span class="glyphicon glyphicon-search">Search</button>
</form>
