<h3> Search result </h3>

<% if @pets.count < 1 %>
  <div class="">
    <%= "No pet registered" %>
  </div>
  <div class="pet-user">
    <p>
      No pets registered.
      Click <a href="/pet/new">here</a> to register
    </p>
  </div>
<% else %>
  <div class="">
    <%= "#{@pets.count} registered" %>
  </div>
  <ul>
    <% @pets.each do |pet| %>
      <li>
        <div class="pet-user">
          <div class="pet-user-img">
            <span>Name: <%= pet.name %></span>
          </div>
          <div class="pet-user-data">
            <ul>
              <li>Name: <%= pet.name %></li>
              <li>Breed: <%= pet.dog_breed.name %></li>
              <li>Gender: <%= pet.gender %></li>
              <li>State: <%= pet.city.state.name %></li>
              <li>City: <%= pet.city.name %></li>
            </ul>
            <p>
              <%= pet.description %>
            </p>
          </div>
          <form class="" action="/pet/<%= pet.id %>" method="get">
            <button>See more</button>
          </form>
          <form class="" action="/match/add" method="post">
            <input type="hidden" name="pet_match" value="<%= pet.id %>">
            <button>Save</button>
          </form>
          <p class="message-saved">

          </p>
        </div>
      </li>
    <% end %> <!-- <%# @pets.each do |pet| %> -->
 </ul>
<% end %> <!-- <%# if @pets.count < 1 %> -->
