
<div class="col-md-12 container">
  <div class="header text-center">
    <h2> My pets </h2>
  </div>

  <% if @pets.count < 1 %>
    <div class="">
      <%= "No pet registered" %>
    </div>
    <div class="pet-user">
      <p>
        No pets registered.
        Click <a href="/pet_new">here</a> to register
      </p>
    </div>
  <% else %>
    <div class="text-center">
      <%= "#{@pets.count} registered" %>
    </div>

    <% @pets.each do |pet| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail card">
          <img class="img-home"src="<%= pet.image %>" alt="<%= pet.name %>">
          <div class="caption pet-home">
            <h3 class="text-center"><%= pet.name %></h3>
            <ul>
              <li><b>Gender:</b> <%= pet.gender %></li>
              <li><b>Breed:</b> <%= pet.dog_breed.name %></li>
              <li><b>State:</b> <%= pet.city.state.name %></li>
              <li><b>City:</b> <%= pet.city.name %></li>
            </ul>
            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->

            <form class="" action="/pet/<%= pet.id %>" method="get">
              <button class="btn btn-info btn-block"><span class="glyphicon glyphicon-eye-open"></span> See more</button>
            </form>

            <form class="" action="/pet_edit/<%= pet.id %>" method="get">
              <button class="btn btn-warning "><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            </form>

            <form class="" action="/pet/<%= pet.id %>/delete" method="post">
              <input id="hidden" type="hidden" name="_method" value="delete">

              <button type='hidden' class="btn btn-danger btn-block delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </form>

            <form class="" action="/search/result" method="get">
              <input type="hidden" name="city" value="<%= pet.city_id %>">
              <input type="hidden" name="species" value="<%= pet.species %>">
              <input type="hidden" name="breed" value="<%= pet.dog_breed_id %>">
              <% if pet.gender == 'male' %>
                <input type="hidden" name="gender" value="female">
              <% else %>
                <input type="hidden" name="gender" value="male">
              <% end %>
              <button class="btn btn-success btn-block"><span class="glyphicon glyphicon-search"></span> Search Match</button>
            </form>

            <div class="clear"></div>

          </div>
        </div>
      </div>

    <% end %>
  <% end %>

  <div class="row"></div>
  <div class="header text-center">
    <h2> My Match list </h2>
  </div>

  <% if @matches.count < 1 %>

    <div class="pet-user">
      <p>
        No matches
        Click <a href="/search">here</a> to search
      </p>
    </div>
  <% else %>
    <div class="text-center">
      <%= "#{@matches.count} registered" %>
    </div>
    <ul>
    <% @matches.each do |match| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail card">
          <img class="img-home"src="<%= match.animal.image %>" alt="<%= match.animal.name %>">
          <div class="caption pet-home">
            <h3 class="text-center"><%= match.animal.name %></h3>
            <ul>
              <li><b>Owner:</b> <%= match.user.name %></li>
              <li><b>Name:</b> <%= match.animal.name %></li>
              <li><b>Breed:</b> <%= match.animal.dog_breed.name %></li>
              <li><b>Gender:</b> <%= match.animal.gender %></li>
              <li><b>State:</b> <%= match.animal.city.state.name %></li>
              <li><b>City:</b> <%= match.animal.city.name %></li>
            </ul>
            <div class="buttons">
              <form class="" action="/pet/<%= match.animal.id %>" method="get">
                <button class="btn btn-info btn-block"><span class="glyphicon glyphicon-eye-open"></span> See more</button>
              </form>

              <form class="" action="/match/<%= match.id %>/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="btn btn-danger btn-block"><span class="glyphicon glyphicon-trash"></span> Remove</button>
              </form>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
