
<div class="col-md-12 container">
  <div class="header text-center">
    <h2> My pets </h2>
  </div>

  <% if @pets.count < 1 %>
    <div class="">
      <%= "No pet registered" %>
    </div>
    <div class="pet-user">
      <p>
        No pets registered.
        Click <a href="/pet/new">here</a> to register
      </p>
    </div>
  <% else %>
    <div class="">
      <%= "#{@pets.count} registered" %>
    </div>
    <ul>
      <% @pets.each do |pet| %>
      <li>
        <div class="pet-user">
          <div class="pet-user-img">
            <img src="<%= pet.image %>" alt="" />

          </div>
          <div class="pet-user-data">

            <ul>
              <li>Name: <%= pet.name %></li>
              <li>Breed: <%= pet.dog_breed.name %></li>
              <li>Gender: <%= pet.gender %></li>
              <li>State: <%= pet.city.state.name %></li>
              <li>City: <%= pet.city.name %></li>
            </ul>
            <p>
              <%= pet.description %>
            </p>
          </div>

          <form class="" action="/pet_edit/<%= pet.id %>" method="get">
            <button>edit</button>
          </form>

          <form class="" action="/pet/<%= pet.id %>/delete" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <button>delete</button>
          </form>
        </div>
      </li>
      <% end %> <!-- @pets.each do |pet| -->
   </ul>
  <% end %> <!-- else - if @pets.count < 1 -->
</div>
